In [4]:
'an example module'
a=0
def b():    
    global a
    a= c(a)
    
def c(a):
    return a+2

In [5]:
#after importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a

6

In [ ]:
#Answer 1: 
#the valued displayed is 6 because a is defined as global scope in function b() 
#and all reference are to global a.
#the first time function b() is executed the variable a displays 2, then a display 4,finally 6 
#because a is defined as global in function b().

In [7]:
#Question 2
#Function fileLength(), given to you, takes the name of a file as input and returns
#the length of the file:
    
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
    except IOError:
        print(f'File  {file_name} not found')

file_length("midterm.py")

File  midterm.py not found

In [9]:
#Question 3
#Write a class named Marsupial that can be used as shown below:
#Answer
class Marsupial():
    
    def __init__(self):
       # xcoord = 1
        #ycoord = 2
        self.q= []
        
    def put_in_pouch(self,item):        
        return self.q.append(item)
    
    def pouch_contents(self):
        return self.q
    
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [10]:
#question3 Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
#attributes of Marsupial and also:
#a. extends the Marsupial __init__ constructor to take, as input, the
#coordinates x and y of the Kangaroo object,
#b. supports method jump that takes number values dx and dy as input and
#movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and
#c. overloads the __str__ operator so it behaves as shown below.

#Answer 2

class Marsupial():
    
    def __init__(self,xcoord,ycoord):
        self.x = xcoord
        self.y = ycoord
        self.q= []
        print(f'I am a kangaroo located at coordinates ({xcoord},{xcoord})')
    def selfx(self,xcoord):
        self.x = xcoord
    def selfy(self,ycoord):
        self.y = ycoord              
    def put_in_pouch(self,item):        
        return self.q.append(item)
    
    def pouch_contents(self):
        return self.q
    
class Kangaroo(Marsupial):    
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        #return f'Kangaroo({self.x},{self.y})'
        return Kangaroo(self.x,self.y)
    
k=Kangaroo(0,0)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
#print(k)
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a kangaroo located at coordinates (1,1)
I am a kangaroo located at coordinates (2,2)
I am a kangaroo located at coordinates (3,3)
<__main__.Kangaroo object at 0x000001D27E7ECF70>

In [1]:
#Question 4
#Write function collatz() that takes a positive integer x as input and prints the
#Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
#this rule to the previous number x in the sequence:
#x = {
#𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥
#+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
#Your function should stop when the sequence gets to number 1. Your
#implementation must be recursive, without any loops.
def Collatz(number):   
    if(number!=1):
        if(number%2==0):
            print(number/2)
            Collatz(number/2)
            
        else:    
            print(number*3+1)
            Collatz(number*3+1)             
    
        
Collatz(10)

5.0
16.0
8.0
4.0
2.0
1.0

In [2]:
#Question 5
#Write a recursive method binary() that takes a non-negative
#integer n and prints the binary representation of integer n.
b=''
def binary(number):   
    global b   
    if(number==1):
        b=b+'1'
        return b
    else:    
        if(number==0):
            b=b+'0'
            return b
        else:
            if(number%2==0):
                b=b+'0'
                binary(number//2)

            else:    
                b=b+'1'
                binary(number//2)
    
            return b
        
binary(9)

'1001'

In [13]:
#Question 6
#Implement a class named HeadingParser that can be used to parse an HTML
#document, and retrieve and print all the headings in the document. You should
#implement your class as a subclass of HTMLParser, defined in Standard Library
#module html.parser. When fed a string containing HTML code, your class should
#print the headings, one per line and in the order in which they appear in the
#document.Each heading should be indented asfollows: an h1 heading should have
#indentation 0, and h2 heading should have indentation 1, etc. Test your
#implementation using w3c.html.
from html.parser import HTMLParser
lst=[]
class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
          if tag == 'meta':
            #search for href attribute and print its value
            for attr in attrs:
              #  if attr[0]== 'href':
                 print(attr)
    def handle_data(self, data):
               
               print(data)
        
infile=open("w3c.html")
content=infile.read()
infile.close()
parser=HeadingParser()
parser.feed(content)
#parser.handdle_starttag('head',content)

('name', 'description')
('content', 'Webpage description goes here')


('charset', 'utf-8')


Change_me


('name', 'viewport')
('content', 'width=device-width, initial-scale=1')


('name', 'author')
('content', '')










W3C Mission


Principles

In [22]:
#Question 7
#Implement recursive function webdir() that takes as input: a URL (as a string) and
#non-negative integers depth and indent. Your function should visit every web
#page reachable from the starting URL web page in depth clicks or less, and print
#each web page's URL. As shown below, indentation, specified by indent, should
#be used to indicate the depth of a URL.

from urllib import request
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
        
        def __init__(self):
            
            HTMLParser.__init__(self)
            self.url=url
            self.links=[]
            
        def handle_starttag(self,tag,attrs):
           
            if tag == 'a':
            #search for href attribute and print its value
                for attr in attrs:
                       if attr[0]== 'href':
                        absolute=urljoin(self.url,attr[1])
                        if absolute[:4] == 'http':
                            self.links.append(absolute) #collect links
                            
        def getlinks(self):
            
              return self.links

url='https://www.w3.org/Consortium/mission'
url2='https://open-stand.org/about-us/principles/'

resource=urllib.request.urlopen(url)
content=resource.read().decode()
collector=Collector()
collector.feed(content)
collector.getlinks()

In [6]:
#Question 8
#Write SQL queries on the below database table that return:
import sqlite3
con=sqlite3.connect('model.db')
cur=con.cursor()
cur.execute('CREATE TABLE table2 (City,Country,Season,Temperature,Rainful)')
cur.execute("INSERT INTO table2 VALUES ('Mumbai','India','Winter','24.8','5.9')")
cur.execute("INSERT INTO table2 VALUES ('Mumbai','India','Spring','28.4','16.2')")
cur.execute("INSERT INTO table2 VALUES ('Mumbai','India','Summer','27.9','1549.4')")
cur.execute("INSERT INTO table2 VALUES ('Mumbai','India','Fall','27.6','346')")
cur.execute("INSERT INTO table2 VALUES ('London','United Kingdom','Winter','4.2','207.7')")
cur.execute("INSERT INTO table2 VALUES ('London','United Kingdom','Spring','8.3','169.6')")
cur.execute("INSERT INTO table2 VALUES ('London','United Kingdom','Summer','15.7','157')")
cur.execute("INSERT INTO table2 VALUES ('London','United Kingdom','Fall','10.4','218.5')")
cur.execute("INSERT INTO table2 VALUES ('Cairo','Egypt','Winter','13.6','16.5')")
cur.execute("INSERT INTO table2 VALUES ('Cairo','Egypt','Spring','20.7','6.5')")
cur.execute("INSERT INTO table2 VALUES ('Cairo','Egypt','Summer','27.7','0.1')")
cur.execute("INSERT INTO table2 VALUES ('Cairo','Egypt','Fall','22.2','4.5')")

cur.execute("select * from table2")
for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', '24.8', '5.9')
('Mumbai', 'India', 'Spring', '28.4', '16.2')
('Mumbai', 'India', 'Summer', '27.9', '1549.4')
('Mumbai', 'India', 'Fall', '27.6', '346')
('London', 'United Kingdom', 'Winter', '4.2', '207.7')
('London', 'United Kingdom', 'Spring', '8.3', '169.6')
('London', 'United Kingdom', 'Summer', '15.7', '157')
('London', 'United Kingdom', 'Fall', '10.4', '218.5')
('Cairo', 'Egypt', 'Winter', '13.6', '16.5')
('Cairo', 'Egypt', 'Spring', '20.7', '6.5')
('Cairo', 'Egypt', 'Summer', '27.7', '0.1')
('Cairo', 'Egypt', 'Fall', '22.2', '4.5')

In [7]:
#a) All the temperature data.
print('#Answer #a')
cur.execute("select temperature from table2 ")
for record in cur:
    print(record)
#b) All the cities, but without repetition.
print('#Answer #b')
cur.execute("select distinct city from table2 ")
for record in cur:
    print(record)
#c) All the records for India.
print('#Answer #c')
cur.execute("select * from table2 where country='India'")
for record in cur:
    print(record)
#d) All the Fall records.
print('#Answer #d')
cur.execute("select * from table2 where Season='Fall'")
for record in cur:
    print(record)
#e) The city, country, and season for which the average rainfall is between 200 
#and 400 millimeters.
print('#Answer #e')
cur.execute("select city,country,season from (select city,country,season,AVG(CAST(Rainful AS numeric)) AS average_rainful from table2) y where average_rainful between 200 and 400")
for record in cur:
    print(record)
#f) The city and country for which the average Fall temperature is above 20
#degrees, in increasing temperature order.
print('#Answer #f')
cur.execute("select city,country,temperature from (select city,country,season,temperature,AVG(CAST(temperature AS numeric)) AS avg_temp from table2 where season='Fall') y where avg_temp>20 order by temperature ")
for record in cur:
    print(record)
#g) The total annual rainfall for Cairo.
print('#Answer #g')
cur.execute("select season,sum(Rainful) from table2 where city='Cairo' group by season ")
for record in cur:
    print(record)

#h) The total rainfall for each season
print('#Answer #h')
cur.execute("select season,sum(Rainful) from table2   group by season ")
for record in cur:
    print(record)

#Answer #a
('24.8',)
('28.4',)
('27.9',)
('27.6',)
('4.2',)
('8.3',)
('15.7',)
('10.4',)
('13.6',)
('20.7',)
('27.7',)
('22.2',)
#Answer #b
('Mumbai',)
('London',)
('Cairo',)
#Answer #c
('Mumbai', 'India', 'Winter', '24.8', '5.9')
('Mumbai', 'India', 'Spring', '28.4', '16.2')
('Mumbai', 'India', 'Summer', '27.9', '1549.4')
('Mumbai', 'India', 'Fall', '27.6', '346')
#Answer #d
('Mumbai', 'India', 'Fall', '27.6', '346')
('London', 'United Kingdom', 'Fall', '10.4', '218.5')
('Cairo', 'Egypt', 'Fall', '22.2', '4.5')
#Answer #e
('Mumbai', 'India', 'Winter')
#Answer #f
('Mumbai', 'India', '27.6')
#Answer #g
('Fall', 4.5)
('Spring', 6.5)
('Summer', 0.1)
('Winter', 16.5)
#Answer #h
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [11]:
#Question 9
#. Suppose list words is defined as follows:
#>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
#'the', 'lazy', 'dog']

#a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
#'LAZY', 'DOG']
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
newlines1=[line.upper() for line in words]
newlines1
#newlines=[line[:-1] for line in words]
#newlines

#b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
#'lazy', 'dog']
words2 = ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']
newlines2=[line.lower() for line in words2]
newlines2

#c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
#words).
words3 = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
newlines3=[len(line) for line in words3]
newlines3

#d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
#'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],

#['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
#4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
#words, where each list contains the word in uppercase and lowercase and the
#length of the word.)
words4 = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
newlines4=[[[(line.upper(),len(i),line2) for line2 in words4 if line==line2] for line in words4 if line==i] for i in words4]
newlines4

#e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
#'lazy', 'dog'] (the list of words in list words containing 4 or more
#characters.)

words4 = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
newlines5=[[[(line.upper(),len(i),line2) for line2 in words4 if line==line2 and len(line)>=4] for line in words4 if line==i and len(line)>=4] for i in words4 if len(i)>=4]
newlines5

[[[('QUICK', 5, 'quick')]],
 [[('BROWN', 5, 'brown')]],
 [[('JUMPS', 5, 'jumps')]],
 [[('OVER', 4, 'over')]],
 [[('LAZY', 4, 'lazy')]]]