In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
import datetime 

import smtplib

url="https://merolagani.com/StockQuote.aspx"
headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36" 
 }
page = requests.get(url)
soup1=BeautifulSoup(page.text,'lxml')
#soup2=BeautifulSoup(soup1.prettify(),"html.parser")

#lists=soup1.find_all('td',class_="text-right").text

#lists= soup1.find_all('td', attrs = {'class':"text-right"}).get_text

#print(lists)
lists2=soup1.find('table',class_='table table-bordered table-striped table-hover sortable')
#print(lists2)
headers=[]
for i in lists2.find_all('th'): 
    
        title=i.text
        headers.append(title)

import re
mydata = pd.DataFrame(columns=['Num','Symbol','LTP','Change','High','Low','Open','Qty','Turnover'])

for j in lists2.find_all('tr')[1:]:
    
        row_data = j.find_all('td')
        row = [i.text for i in row_data]
        length = len(mydata)
        mydata.loc[length] = row

mydata.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)
# Drop “#” column
#mydata.drop('\n#', inplace=True, axis=1)
# Export to csv
mydata.to_csv('dataset_stock.csv', index=False)
# Try to read csv
mydata2 = pd.read_csv('dataset_stock.csv')            
print(mydata2)

    Num  Symbol     LTP  Change    High     Low    Open     Qty       Turnover
0     1  ACLBSL  720.00    1.27  722.00  700.10  711.00     247     176,791.50
1     2    ADBL  311.70   -1.05  315.40  311.10  312.00  16,382   5,113,726.40
2     3    AHPC  272.80    0.29  277.00  270.00  275.00  23,219   6,302,353.60
3     4     AIL  409.00   -1.45  412.00  406.70  406.70   5,684   2,322,068.00
4     5   AKJCL  171.10   -0.23  173.00  171.00  171.60  14,581   2,506,644.50
..  ...     ...     ...     ...     ...     ...     ...     ...            ...
95   96     MBL  221.00   -0.45  222.50  218.10  218.10  11,315   2,503,283.90
96   97     MDB  386.00   -0.52  393.00  382.10  392.90  10,280   3,966,913.20
97   98    MEGA  214.40    0.14  216.00  213.60  214.00  95,761  20,521,846.40
98   99     MEN  741.70    0.83  741.70  721.20  721.20     430     315,721.00
99  100    MERO  777.90    0.76  780.00  760.20  772.00   5,176   3,981,528.40

[100 rows x 9 columns]

In [7]:
import pyodbc
import pandas as pd

# insert data from csv file into dataframe.
# working directory for csv file: type "pwd" in Azure Data Studio or Linux
# working directory in Windows c:\users\username
df = pd.read_csv("C:\\Users\\editd\\Desktop\\course_dataprogramming\\Final_project\\dataset_stock.csv")
# Some other example server values are

#cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-G6J8J7M;'
                      'Database=BDAT_1004;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

#cursor.execute('CREATE TABLE NepalStock (Num,Symbol,LTP,Change,High_,Low_,Open_,Qty,Turnover)')
# Insert Dataframe into SQL Server:
for index, row in df.iterrows():
     cursor.execute("INSERT INTO NepalStock (Num,Symbol,LTP,Change,High_,Low_,Open_,Qty,Turnover) values(?,?,?,?,?,?,?,?,?)",row.Num,row.Symbol,row.LTP,row.Change,row.High,row.Low,row.Open,row.Qty,row.Turnover)
conn.commit()
cursor.close()

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Error converting data type nvarchar to float. (8114) (SQLExecDirectW)')

In [5]:
import sqlite3
import sqlalchemy
con=sqlite3.connect('model.db')
engine=sqlalchemy.create_engine('sqlite:///model.db')
cur=con.cursor()

cur.execute('CREATE TABLE NepalStock (Num,Symbol,LTP,Change,High,Low,Open,Qty,Turnover)')

mydata2.to_sql('NepalStock',engine,if_exists='append',index=False)

cur.execute("select * from NepalStock")

for record in cur:
    print(record)
#con.commit()
#cursor.close()
#con.close()

(1, 'ACLBSL', '695.00', -1.42, '725.00', '695.00', '695.00', '625', '436,311.30')
(2, 'ADBL', '319.00', 0.63, '319.90', '315.00', '317.00', '6,331', '2,008,843.30')
(3, 'AHPC', '275.00', 1.1, '276.90', '267.00', '276.90', '34,101', '9,265,760.30')
(4, 'AKJCL', '176.50', 0.91, '178.20', '173.60', '177.00', '17,780', '3,119,016.80')
(5, 'AKPL', '352.00', -0.28, '354.90', '347.20', '350.00', '20,132', '7,072,207.40')
(6, 'ALBSL', '900.00', -1.1, '915.00', '891.80', '910.00', '711', '636,927.00')
(7, 'ALICL', '482.00', -0.41, '486.80', '480.00', '480.00', '5,907', '2,860,826.50')
(8, 'API', '217.00', 0.93, '218.00', '213.00', '214.60', '68,691', '14,857,573.70')
(9, 'AVYAN', '714.00', -0.7, '715.00', '708.30', '708.30', '2,013', '1,435,405.30')
(10, 'BARUN', '213.90', 0.33, '216.00', '213.00', '216.00', '970', '208,049.50')
(11, 'BBC', '3,330.00', 1.31, '3,330.00', '3,330.00', '3,330.00', '10', '33,300.00')
(12, 'BFC', '319.00', 0.0, '319.20', '313.00', '313.10', '5,424', '1,719,216.00')
(13, 'BHDC', '335.00', 2.01, '335.00', '325.00', '325.00', '930', '306,286.00')
(14, 'BHL', '251.00', 3.68, '254.00', '240.00', '240.00', '4,113', '1,013,393.30')
(15, 'BNHC', '339.40', -1.28, '345.00', '338.60', '343.80', '2,142', '730,214.50')
(16, 'BNT', '12,900.00', 3.21, '12,900.00', '12,250.00', '12,450.00', '484', '6,034,036.00')
(17, 'BPCL', '306.10', 0.03, '314.40', '305.00', '312.00', '5,737', '1,757,737.90')
(18, 'CBBL', '1,115.00', 0.54, '1,118.00', '1,097.00', '1,100.00', '6,748', '7,507,449.40')
(19, 'CBL', '231.00', -1.41, '238.90', '226.10', '238.90', '69,168', '15,934,970.10')
(20, 'CBLD88', '855.00', 0.59, '855.00', '850.00', '850.00', '60', '51,175.00')
(21, 'CCBD88', '845.50', -1.69, '845.50', '845.50', '845.50', '25', '21,137.50')
(22, 'CFCL', '313.10', -0.76, '317.00', '312.00', '312.00', '4,398', '1,385,879.00')
(23, 'CGH', '1,000.00', 0.0, '1,018.90', '996.10', '1,000.00', '1,333', '1,336,214.00')
(24, 'CHCL', '381.00', -0.26, '385.00', '376.00', '379.00', '5,862', '2,226,618.20')
(25, 'CHDC', '632.00', -0.8, '640.00', '626.09', '626.09', '1,775', '1,130,538.90')
(26, 'CHL', '221.70', 3.6, '222.00', '209.10', '209.90', '5,967', '1,287,782.20')
(27, 'CIT', '1,870.00', -0.37, '1,875.00', '1,866.00', '1,870.00', '3,562', '6,660,757.20')
(28, 'CLBSL', '748.00', 0.81, '748.00', '730.00', '730.00', '226', '167,316.00')
(29, 'CMF1', '8.00', 0.88, '8.00', '7.64', '7.78', '4,100', '31,861.00')
(30, 'CMF2', '8.02', -2.08, '8.34', '8.02', '8.34', '2,600', '20,994.00')
(31, 'CORBL', '285.00', 1.06, '289.90', '283.00', '287.00', '1,698', '485,928.00')
(32, 'CZBIL', '186.70', 1.36, '187.00', '184.00', '184.00', '11,093', '2,054,192.80')
(33, 'DDBL', '900.10', 0.69, '917.00', '881.00', '881.00', '2,271', '2,055,473.00')
(34, 'DHPL', '181.00', 1.74, '182.00', '177.00', '177.00', '8,551', '1,546,299.00')
(35, 'DORDI', '240.70', 0.8, '240.70', '234.10', '234.10', '1,905', '450,961.00')
(36, 'EBL', '540.00', 0.2, '544.00', '536.70', '544.00', '47,380', '25,524,242.20')
(37, 'EBLD86', '757.00', 1.99, '757.00', '757.00', '757.00', '30', '22,710.00')
(38, 'EDBL', '308.90', 1.81, '309.00', '302.80', '307.00', '8,329', '2,555,323.50')
(39, 'ENL', '586.00', 0.86, '586.00', '574.20', '581.00', '870', '508,277.00')
(40, 'FMDBL', '660.00', 0.76, '668.00', '647.20', '668.00', '4,369', '2,857,465.50')
(41, 'FOWAD', '2,560.00', 0.23, '2,587.00', '2,554.00', '2,554.00', '3,106', '7,969,073.50')
(42, 'GBBL', '387.00', -0.51, '390.00', '384.30', '389.00', '26,718', '10,355,634.90')
(43, 'GBLBS', '585.00', 0.0, '594.00', '575.00', '575.00', '765', '448,977.50')
(44, 'GFCL', '460.00', 0.44, '464.00', '449.00', '449.00', '4,466', '2,038,906.10')
(45, 'GHL', '219.00', 6.83, '225.50', '207.00', '209.10', '119,649', '25,989,288.20')
(46, 'GIBF1', '7.80', 0.0, '7.80', '7.65', '7.70', '4,100', '31,597.00')
(47, 'GILB', '1,140.00', 0.0, '1,143.00', '1,121.00', '1,121.00', '647', '736,215.00')
(48, 'GIMES1', '8.35', 0.12, '8.45', '8.29', '8.45', '14,335', '119,728.15')
(49, 'GLBSL', '800.00', 1.65, '800.00', '786.30', '787.00', '169', '133,562.00')
(50, 'GLH', '236.00', -1.26, '238.00', '231.10', '234.30', '2,030', '476,223.50')
(51, 'GMFBS', '787.10', -1.24, '800.00', '784.10', '800.00', '88', '69,719.40')
(52, 'GMFIL', '318.00', 0.63, '320.00', '315.60', '316.00', '4,757', '1,513,180.70')
(53, 'GRDBL', '235.00', 0.9, '238.00', '230.50', '233.00', '2,278', '535,040.90')
(54, 'GUFL', '544.00', 2.06, '545.00', '522.40', '522.40', '36,918', '19,801,495.00')
(55, 'GVL', '289.80', 2.22, '292.00', '283.50', '283.50', '3,483', '1,001,801.00')
(56, 'HBL', '330.70', 1.44, '331.00', '321.00', '326.00', '1,889', '619,616.20')
(57, 'HDHPC', '172.50', -0.17, '175.00', '170.40', '171.00', '30,558', '5,281,903.10')
(58, 'HDL', '3,930.00', 0.98, '3,970.00', '3,880.00', '3,910.00', '17,281', '68,040,730.40')
(59, 'HEI', '361.90', 2.17, '364.10', '351.00', '352.00', '11,146', '4,003,216.20')
(60, 'HEIP', '251.70', 4.01, '251.70', '241.80', '246.80', '730', '177,272.00')
(61, 'HHL', '219.00', 0.0, '220.00', '215.10', '215.10', '1,130', '244,763.00')
(62, 'HIDCL', '175.00', 1.27, '175.00', '170.00', '172.80', '66,493', '11,388,198.30')
(63, 'HIDCLP', '97.80', 0.82, '97.90', '96.50', '97.00', '36,738', '3,563,552.00')
(64, 'HPPL', '262.00', 2.34, '263.00', '253.10', '255.00', '27,286', '7,067,988.10')
(65, 'HURJA', '212.00', 1.0, '212.00', '208.00', '212.00', '2,470', '519,467.00')
(66, 'ICFC', '448.00', 0.0, '452.50', '441.10', '446.80', '12,437', '5,557,635.00')
(67, 'ICFCD83', '1,030.00', 0.49, '1,030.00', '1,020.00', '1,020.00', '50', '51,250.00')
(68, 'IGI', '362.00', -0.55, '369.00', '360.70', '368.00', '2,715', '985,703.50')
(69, 'ILBS', '907.00', 1.91, '907.00', '866.00', '890.00', '2,005', '1,753,970.50')
(70, 'JALPA', '3,389.00', 0.27, '3,390.00', '3,353.00', '3,353.00', '738', '2,495,013.00')
(71, 'JBBL', '288.00', 1.41, '288.00', '280.00', '280.00', '11,096', '3,170,279.40')
(72, 'JBLB', '2,625.00', 0.69, '2,638.00', '2,590.00', '2,607.00', '2,357', '6,178,349.00')
(73, 'JFL', '390.00', -1.52, '397.90', '385.00', '388.10', '14,669', '5,723,758.60')
(74, 'JOSHI', '192.00', 0.0, '195.80', '187.20', '193.00', '14,576', '2,812,891.20')
(75, 'JSLBB', '1,609.00', 0.24, '1,610.00', '1,580.00', '1,610.00', '234', '373,940.00')
(76, 'KDBY', '7.90', -0.25, '7.98', '7.80', '7.80', '1,900', '14,912.00')
(77, 'KEF', '8.20', 0.0, '8.20', '8.05', '8.05', '2,507', '20,364.40')
(78, 'KKHC', '186.70', 2.58, '188.40', '179.00', '179.00', '10,316', '1,909,791.00')
(79, 'KLBSL', '785.10', -2.89, '824.40', '785.10', '824.40', '230', '184,571.00')
(80, 'KMCDB', '888.00', 0.91, '896.00', '875.10', '880.00', '499', '440,891.00')
(81, 'KMCDBP', '488.00', 0.0, '488.00', '488.00', '488.00', '9,600', '4,684,800.00')
(82, 'KPCL', '309.10', -0.61, '317.20', '305.00', '317.20', '1,152', '357,082.90')
(83, 'KRBL', '242.90', 2.4, '243.70', '232.50', '232.50', '15,980', '3,833,826.30')
(84, 'KSBBL', '315.00', 2.44, '315.00', '304.00', '305.00', '10,161', '3,146,342.50')
(85, 'LBBL', '337.00', -0.88, '342.00', '335.30', '340.00', '31,838', '10,761,831.30')
(86, 'LBL', '206.90', 0.39, '207.00', '204.00', '204.00', '6,319', '1,299,862.20')
(87, 'LEC', '224.00', 2.75, '224.60', '214.10', '215.00', '3,266', '717,453.80')
(88, 'LEMF', '7.54', -0.26, '7.56', '7.54', '7.56', '7,975', '60,191.00')
(89, 'LICN', '1,335.00', 0.98, '1,343.00', '1,297.00', '1,300.00', '4,887', '6,501,427.10')
(90, 'LLBS', '1,095.00', -0.36, '1,095.00', '1,056.50', '1,078.00', '282', '301,491.00')
(91, 'LUK', '7.61', -1.81, '7.90', '7.61', '7.90', '1,750', '13,712.50')
(92, 'MBJC', '216.00', 0.0, '216.00', '208.00', '211.70', '11,686', '2,484,942.00')
(93, 'MBL', '220.90', 1.1, '221.80', '218.50', '218.50', '6,773', '1,488,186.90')
(94, 'MDB', '391.00', 2.36, '397.80', '375.20', '375.20', '12,822', '4,996,441.70')
(95, 'MEGA', '219.00', -0.45, '222.00', '217.40', '218.00', '46,893', '10,255,233.20')
(96, 'MEN', '725.00', 0.0, '731.00', '717.30', '725.00', '260', '188,522.50')
(97, 'MERO', '739.00', 0.07, '746.90', '730.20', '738.00', '1,560', '1,150,106.60')
(98, 'MFIL', '430.00', 2.14, '430.00', '416.00', '417.00', '10,711', '4,564,450.30')
(99, 'MHL', '320.20', 1.14, '320.20', '310.00', '310.70', '2,256', '716,743.50')
(100, 'MHNL', '259.00', 0.39, '260.00', '251.00', '260.00', '14,463', '3,724,111.50')